<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <br />
   <p>
    Splurty was built by <a target="_blank" href="https://github.com/denver-university/Ariana-Cukurs-Repository">Ariana</a>. A novice programmer building her skills through the Denver University Coding Bootcamp.
  </p>
  <br />
  <p>
    Keen to work in a fast pace environemnt, she meditates daily and looks for inspirational quotes to keep her motivated to learn.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Splurty.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ariana Cukurs</h2>
      <br />
      <p>
        Ariana Cukurs is an application engineer looking to expand her skillset. She has worked primarily in the insurance industry building premium rating engines and studying actuarial science. She is looking forward to continuing to learn and adapt to the ever-changing tech world.
      </p>
    </div>
  </div>
  <br class="clear" />

  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />